:root {
    --border-color: #e3e3e5;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
}

div, p, span, a {
    color: dodgerblue;
}

ul {
    color: dodgerblue;
}

.header {
    color: mediumseagreen;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    height: 100%;
}

.profile {
    margin-top: 3rem;
}

.comments {
    margin-top: 3rem;
}

.ad {
    position: absolute;
    right: 16px;
    top: 10%;
    height: 60vh;
}
